div.flash {
    color: white;
    padding: 1em;
    margin: 1em 0;
}

div.success {
    background-color: #28a745;
}

div.danger {
    background-color: #dc3545;
}

a[href^="#error:"] {
    background-color: red;
    color: white;
}

form .error {
    color: #D00;
    font-weight: bold;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav p {
    float: right;
    color: #0062cc;
    padding: 14px 16px;
    font-size: 17px;
    margin: 0;
}

#login{
    float: right;
    border-left: 1px #fff solid;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: black;
}

.topnav a.active {
    background-color: #0062cc;
    color: white;
}

.datagrid {
    font-size: 12px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

.formContainer {
    margin: 20px auto;
    width: 60%;
}


.help-block {
    color: red;
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown-menu li a {
    clear: both;
    padding: 1px 10px;
    font-weight: 400;
    color: #333;;
}

.dropdown-menu li a:hover {
    text-decoration: none;
}